<h2>Products</h2>
<!-- <a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a>
 -->
<!-- <div *ngFor="let product of items">
	
</div> -->

<!-- <h2>My products</h2> -->

<ul class="products">
  <li *ngFor="let product of products">
  	<!-- <app-product-details [product]="product"></app-product-details> -->
    <!-- <a routerLink="/detail/{{product.id}}">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </a>
    <h2>{{product.title}}</h2> -->
  </li>
</ul>

<!-- <app-product-detail [product]="selectedproduct"></app-product-detail> -->